body {
	font-weight:300;
	
	margin:100px 0;
}

.navbar-header {
	color:#fff;
	background:#323132;
}
	.logo-header {
		float:left;
		font-size:30px;
		
		margin-top:4px;
	}
		.logo-header a {
			color: inherit;
			text-decoration: none;
		}
	
	.lang-toggle {
		cursor:pointer;
		color:#fff !important;
	}