body {
	font-weight:300;
	
	padding:70px 0;
}

.navbar-header {
	color:#fff;
	background:#323132;
}
	.navbar-header a {
		color:inherit;
	}
	
	.logo-header {
		float:left;
		font-size:30px;
		
		margin-top:4px;
	}
	
	.lang-toggle {
		cursor:pointer;
	}